@use '@styles/settings' as *;

.loading {
  display: inline-block;
  border-right-style: solid;
  border-right-color: transparent;
  border-radius: vars(radius, round);
  animation: kf-loader 1s linear infinite;

  @include sizing('border-right-width', size(0.75));
  @include sizing('border-top-width', size(0.75));
  @include sizing('width', size(12));
  @include sizing('height', size(12));

  &.color-dark {
    border-right-color: color(default, dark);
  }

  &.color-light {
    border-right-color: color(default, light);
  }

  &.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: vars(z-index, xlrg);
    transform: translate(-50%, -50%);
  }
}

@keyframes kf-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
