@use '@styles/mixins' as *;
@use '@styles/settings/colors' as *;

%a {
  a {
    text-decoration: none;
    text-decoration-skip-ink: auto;

    @include mq-hover {
      cursor: pointer;
    }
  }

  &.color-dark {
    a {
      color: deep-get($colors, link, dark, default);

      @include mq-hover {
        @include transition('color');

        &:focus {
          color: deep-get($colors, link, dark, focus);
        }

        &:hover {
          color: deep-get($colors, link, dark, hover);
        }
      }
    }
  }

  &.color-light {
    a {
      color: deep-get($colors, link, light, default);

      @include mq-hover {
        @include transition('color');

        &:focus {
          color: deep-get($colors, link, light, focus);
        }

        &:hover {
          color: deep-get($colors, link, light, hover);
        }
      }
    }
  }
}
