@use '@styles/mixins' as *;
@use '@styles/settings/colors' as *;
@use '@styles/settings/variables' as *;
@use 'sass:map';

%a {
  a {
    text-decoration: none;
    text-decoration-skip-ink: auto;

    @include mq-hover {
      cursor: pointer;
    }
  }

  @each $color, $value in map.get($colors, link) {
    &.link-color-#{$color} {
      a {
        color: deep-get($colors, link, $color, default);

        @include mq-hover {
          @include transition('color');

          &:focus {
            color: deep-get($colors, link, $color, focus);
          }

          &:hover {
            color: deep-get($colors, link, $color, hover);
          }
        }
      }
    }
  }
}
