@use '@styles/settings/colors' as *;

%bg {
  &.bg-dark {
    background-color: color(default, dark);

    ::selection {
      background-color: color(default, light);
      color: color(default, dark);
    }
  }

  &.bg-light {
    background-color: color(default, light);
  }
}
