%direction {
	&.direction-row {
		flex-direction: row;
	}

	&.direction-row-reverse {
		flex-direction: row-reverse;
	}

	&.direction-column {
		flex-direction: column;
	}

	&.direction-column-reverse {
		flex-direction: column-reverse;
	}
}
