@use '@styles/mixins' as *;
@use '@styles/settings/variables' as *;
@use 'sass:map';

%f-heading {
  font-family: anton, sans-serif;
}

%f-body {
  font-family: mencken-std, sans-serif;
}

%f-light {
  font-weight: 300;
}

%f-regular {
  font-weight: 400;
}

%f-medium {
  font-weight: 600;
}

%f-bold {
  font-weight: 800;
}

%f-italic {
  font-style: italic;
}

%f-oblique {
  font-style: oblique;
}

%f-center {
  text-align: center;
}

%f-left {
  text-align: left;
}

%f-right {
  text-align: right;
}

%f-uppercase {
  text-transform: uppercase;
}

%f-capitalize {
  text-transform: capitalize;
}

%f-lowercase {
  text-transform: lowercase;
}

%f-underline {
  text-decoration: underline;
}

%f-icons {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-family: icons, sans-serif;
  line-height: 1;
  text-transform: none;
  text-rendering: auto;
  speak: never;

  @include font-smoothing;
  @extend %f-regular;
}

%type-heading {
  @extend %f-heading;
}

%type-d1 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, d1));
  @include sizing('font-size', deep-get($vars, headings, line-height, d1));
}

%type-d2 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, d2));
  @include sizing('line-height', deep-get($vars, headings, line-height, d2));
}

%type-h1 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h1));
  @include sizing('line-height', deep-get($vars, headings, line-height, h1));
}

%type-h2 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h2));
  @include sizing('line-height', deep-get($vars, headings, line-height, h2));
}

%type-h3 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h3));
  @include sizing('line-height', deep-get($vars, headings, line-height, h3));
}

%type-h4 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h4));
  @include sizing('line-height', deep-get($vars, headings, line-height, h4));
}

%type-h5 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h5));
  @include sizing('line-height', deep-get($vars, headings, line-height, h5));
}

%type-h6 {
  @extend %type-heading;
  @include sizing('font-size', deep-get($vars, headings, font-size, h6));
  @include sizing('line-height', deep-get($vars, headings, line-height, h6));
}

@each $breakpoint in vars(settings, breakpoints) {
  %type-icon-#{$breakpoint} {
    @include sizing('font-size', vars(icons, #{$breakpoint}));
  }

  %type-body-#{$breakpoint} {
    @include sizing('font-size', deep-get($vars, body, font-size, #{$breakpoint}));
    @include sizing('line-height', deep-get($vars, body, line-height, #{$breakpoint}));
    @extend %f-body;
  }
}

%type-ul {
  list-style-type: disc;

  @include sizing('margin-left', size(4));
}

%type-ol {
  list-style-type: decimal;

  @include sizing('margin-left', size(3.75));
}

%type-input {
  @extend %f-body;
  @include sizing('font-size', vars(input, font-size));
  @include sizing('line-height', vars(input, line-height));
}

%type-label {
  @extend %f-body;
  @include sizing('font-size', vars(label, font-size));
  @include sizing('line-height', vars(label, line-height));
}
