@use 'sass:color';
@use '@styles/settings' as *;

$link: (
  font-size: 14px,
  line-height: 24px,
  letter-spacing: 1.4px,
  dark: (
    color: deep-get($colors, link, dark, color),
    active: (
      color: deep-get($colors, link, dark, active)
    ),
    hover: (
      color: deep-get($colors, link, dark, hover)
    ),
    focus: (
      color: deep-get($colors, link, dark, focus)
    )
  ),
  light: (
    color: deep-get($colors, link, light, color),
    active: (
      color: deep-get($colors, link, light, active)
    ),
    hover: (
      color: deep-get($colors, link, light, hover)
    ),
    focus: (
      color: deep-get($colors, link, light, focus)
    )
  )
);
