@use 'sass:map';

@function color($name, $variant: null) {
  @if $variant {
    @return map.get(map.get($colors, $name), $variant);
  }
  @else {
    @return map.get($colors, $name);
  }
}

$dark: #000;
$light: #fff;
$hotpink: #ff69b4;
$green: #008000;
$blue: #00f;
$colors: (
  default: (
    dark: $dark,
    light: $light
  ),
  link: (
    dark: (
      default: $hotpink,
      hover: $green,
      focus: $blue
    ),
    light: (
      default: $hotpink,
      hover: $green,
      focus: $blue
    )
  )
);
