@use 'sass:map';

@function color($name, $variant: null) {
  @if $variant {
    @return map.get(map.get($colors, $name), $variant);
  }
  @else {
    @return map.get($colors, $name);
  }
}

$dark: #000;
$light: #fff;
$red: #f00;
$grey: #797876;
$colors: (
  default: (
    dark: $dark,
    light: $light
  ),
  selection: (
    dark: (
      bg: $light,
      color: $dark
    ),
    light: (
      bg: $dark,
      color: $light
    )
  ),
  red: (
    default: $red
  ),
  grey: (
    default: $grey
  ),
  link: (
    dark: (
      color: $dark,
      active: $red,
      hover: $red,
      focus: $red
    ),
    light: (
      color: $light,
      active: $red,
      hover: $red,
      focus: $red
    )
  )
);
