@use '@styles/settings' as *;

.table {
  @extend %vertical-align;
  @extend %table-layout;
  @extend %table-border;
}

.table,
.ti {
  @extend %border;
  @extend %bg;
}

.table,
.tbody,
.tfoot,
.tr {
  @include mq(vars(breakpoint, med)) {
    width: 100%;
  }

  @include mq(vars(breakpoint, med), max-width) {
    display: block;
  }
}

.thead {
  @include mq(vars(breakpoint, med)) {
    width: 100%;
  }

  @include mq(vars(breakpoint, med), max-width) {
    display: none;
  }
}

.table-title {
  @include mq(vars(breakpoint, med)) {
    display: none;
  }

  @include mq(vars(breakpoint, med), max-width) {
    display: block;
    width: 100%;
  }
}

.th,
.td {
  @extend %text-align;

  @include mq(vars(breakpoint, med), max-width) {
    display: block;
    width: 100%;

    @include sizing('padding', [size(3), size(0)]);

    &.text-align-center,
    &.text-align-right {
      text-align: left;
    }

    &[class*='border'] {
      border-width: 0;
    }
  }

  @include mq(vars(breakpoint, med)) {
    @include sizing('padding', size(3));
  }
}
